[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/isa-l"]
	path = third_party/isa-l
	url = https://github.com/intel/isa-l
